---
layout: blog
title: Blog
group: navigation
tags : [kurfuerstenkunst, kurfürstenkunst, recklinghausen, kunst, tanz, kultur, blog]
author : Antonio Trento
css: 
js:
keywords: kurfuerstenkunst, kurfürstenkunst, recklinghausen, kunst, tanz, kultur, blog
canonical: https://kurfürstenkunst.de/blog
---
{% include JB/setup %}


{% for post in site.posts %}
	  <div class="blog-block post-content-area">
	   {% if post.img %}	  
            <img src="{{ BASE_PATH }}/assets/images/slider/{{ post.img }}" alt="{{ post.title }} image">
	   {% endif %}	  
            <div class="blog-post">
              <h3><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h3>
	      <p>
            <p> {% if post.tagline %}
                {{ post.tagline }}
                {% elsif post.excerpt%}
                {{ post.excerpt }}
                {% endif %}  
              </p>
        </p>
              <a class="btn btn-common" href="{{ BASE_PATH }}{{ post.url }}">Mehr lesen</a>
            </div>
          </div>
	  <div class="mb-60"></div>
{% endfor %}

